.container {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
    grid-template-rows: 115px auto 100px;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
}

.soc-stats {
    display: flex;
    padding: 5px;
    color: #646464;
}

.stars {
    flex: 1;
}

.comments-count {
    flex: 1;
}

main {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1vw;
}

.post {
    background: #EEF1F4;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.25s ease-in;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}

.post:hover {
    transform: translateY(-5px);
    border: none;
    border-bottom: 5px solid #65C178;
}

.img-wrapper {
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.img-wrapper img {
    transition: transform .5s ease;
    height: 200px;
    width: 100%;

}

.img-wrapper:hover img {
    transform: scale(1.5);
}

.card-date {
    color: #4F5A6E;
}

.card-article {
    font-size: 24px;
    color: grey;
    padding-top: 5px;
    cursor: pointer;
}


aside {
    background-color: #DEE1E5;
    text-align: center;
}

.author-info{
    padding: 10px;
    border-bottom: 1px grey solid;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
    grid-template-rows: 100%;
    background-color: #424B5F;
}

.header-content {
    background-color: #4F5A6E;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 5px;
}

.header-navbar {
    float: right;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.header-navbar a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-family: Consolas;
    margin-right: 15px;
}

.header-navbar-links {
    grid-row-start: 3;
    grid-row-end: 3;
}

.header-navbar-soc > a {
    margin-right: 5px;
    text-decoration: none;
}

.header-navbar-soc > a.search-icon {
    margin-right: 25px;
}


footer {
    background-color: #EEF1F4;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
    grid-template-rows: 100%;
}

.footer-content {
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logo-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #424B5F;
    padding: 5px;
}

.menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

.menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

.menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.menuToggle span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #4F5A6E;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
    padding: 10px 0;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    text-underline: none;
}

.menu a {
    text-decoration: none;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul {
    transform: none;
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 100vw;
        height: 100vh;
    }

    .nav-item {
        width: 100%;
        float: none;
    }

    .header-content {
        display: none;
    }
    .content{
        grid-template-columns: 1fr;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .menu {
        margin-top: 20px;
        width: 100vw;
        height: 100vh;
    }

    .nav-item {
        width: 100%;
        float: none;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .header-navbar-soc > a {
        display: none;
    }

    .search-icon-mobile {
        display: block;
        float: right;
        padding-top: 15px;
        padding-right: 25px;
    }

    .header-navbar-links {
        display: none;
    }

    .menuToggle:first-child {
        display: none;
    }

    .menuToggle {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        grid-template-rows: 200px auto 25%;
    }


}

@media only screen and (min-width: 1024px) {
    .menu {
        width: 0;
    }

    .nav-item {
        width: 0;
        float: none;
    }

    .header-content {
        display: block;
    }

    .menu {
        display: none;
    }

    .menuToggle {
        display: none;
    }

    .search-icon-mobile {
        display: none;
    }
}

.header-navbar-soc:nth-child(2){
    padding: 10px;
    border-bottom: 1px solid grey;
}
.btn-subscribe{
    background-color: #65c178;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: white;
}
.subscribe{
    padding: 10px;
    border-bottom: 1px solid grey;
}

.subscribe > input{
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
}
.search{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid grey;
}
.search-input{
    flex:3;
    margin: 3px;
}
.btn-search{
    flex: 1;
    background-color: #65c178;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: white;
}
.tags{
    padding: 10px;
    border-bottom: 1px solid grey;
}

.tag{
    padding: 3px;
    display: block;
    color: black;
    border-radius: 5px;
}
.tag:hover{
    background-color: #65C178;
    color: #fff;
}

.comments{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #DEE1E5;
}
.comment{
    display: flex;
}

.comment-time{
    color: #646464;
}

.comment-info{
    flex: 8;
}
.comment-text{
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.footer-info{
    float: right;
}
.rights{
    color: #646464;
}
